
.main-center-top {
    width: 100%;
    height: auto;
    padding: 0 16px;
    display: block;
    background-color: #fff;
    margin-top: 10px;
}

#t-nav{
    width: 996px;
    height: 48px;
    padding: 0px 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

#list-t{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#list-t div{
    height: 48px;
    min-width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555666;
    padding-left: 32px;
    font-size: 16px;
    cursor: pointer;
}

.selectDiv, #list-t div:hover{
    font-weight: 600;
}

.blog {
    width: 996px;
    height: auto;
    padding: 15px 10px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.blog-title {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 25px;
    font-weight: 800;
}

.blog-title a {
    font-size: 18px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 25px;
    font-weight: 800;
    color: #000;
}

.blog-title a:hover {
    color: #000;
}


.blog-center {
    width: 996px;
    min-height: 56px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.blog-center-left {
    width: 134px;
    height: 84px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #EEE;
    background-color: #f5f6f7;
}

.blog-center-left img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 132px;
}

.blog-center-right {
    width: 846px;
    min-height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-center-right-content {
    width: 830px;
    height: 55px;
    overflow: hidden;
    line-height: 21px;
    margin-top: 3px;
}

.blog-center-right-bottom {
    width: 846px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.blog-center-right-bottom div {
    min-width: 56px;
    display: flex;
    align-items: center;
}

.blog-center-right-bottom div:hover {
    color: rgb(252, 85, 51);
}

.blog-center-right-bottom-author a:hover {
    text-decoration: none;
    color: #00a6ff;
}

.blog-center-right-bottom-author a span:hover {
    text-decoration: none;
    color: #00a6ff;
}

.blog-center-right-bottom-author a span {
    color: #737d86;
    font-size: 14px;
}


.blog-center-right-bottom-icon {
    font-size: 17px;
    margin-right: 4px;
}

.blog-status{
    width: 160px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    color: #fc5531;
}


.user{
    width: 996px;
    height: 110px;
    padding: 16px 24px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user-left{
    width: 50px;
    height: 50px;
    margin-right: 16px;
    border-radius: 50%;
    overflow: hidden;
}

.user-left img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.user-center{
    width: 790px;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.user-center-name{
    font-size: 16px;
    margin-top: 8px;
    font-weight: 600;
}

.user-center-signature{
    width: 230px;
    height: 18px;
    margin-top: 16px;
}

.user-right{
    width: 96px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    border-radius: 16px;
    border: 1px solid #ccccd8;
    font-size: 14px;
    font-weight: 400;
    color: #222226;
    line-height: 32px;
}

.user-right:hover{
    border: 1px solid #555666;
}

.like {
    padding-right: 24px;
}

.collect {
    padding-right: 24px;
}


.main-center-bottom{
    height: 64px;
    padding: 14px 0;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-center-bottom div{
    min-width: 36px;
    height: 36px;
    background-color: #FFF;
    color: #3951b3;
    border: none;
    border-radius: 6px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}

#selectPage, .main-center-bottom div:hover{
    color: #fff;
    background-color: rgb(78,110,242);
}
